.flex {
    display: flex;
    background-color: rgb(223, 33, 33);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.img {
    margin: 10px;
    width: 300px;
}
